.submitted-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitted-card__image {
  width: 150px;
  margin-bottom: 2rem;
}

.submitted-card___rating-submitted {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-family: sans-serif;
  font-size: 12px;
  color: var(--orange);
  /* From https://css.glass */
  background: rgba(255, 117, 15, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.submitted-card__title {
  margin-bottom: 1rem;
}

.submitted-card__description {
  text-align: center;
}
